<section id="about" class="about-section">
  <div class="about-content-section">
    <div class="about-content-title">
      <h2 class="about-text">
        I work with people all over the world to create impressive and
        <span style="color: #ed3b44">functional</span>
        <span style="color: rgba(250, 250, 250, 0.4)">websites</span> that
        reflect each client's unique personality.
      </h2>
    </div>

    <img
      class="about-image"
      srcset="
        ../img/optima/about_mobile.png    343w,
        ../img/optima/about2x_mobile.png  686w,
        ../img/optima/about_tablet.png    704w,
        ../img/optima/about2x_tablet.png 1408w,
        ../img/optima/about_desk.png      680w,
        ../img/optima/about2x_desk.png   1360w
      "
      sizes="(min-width:1440px) 680px, (min-width:768px) 704px, (max-width:767px) 343px"
      src="./img/optima/about_mobile.png"
      alt="portrait"
    />
  </div>
  <div>
    <h2 class="visually-hidden">bn</h2>
    <ul class="about-accordion">
      <li class="about-accordion-item ac">
        <h3 class="about-accordion-title ac-header ac-trigger">
          About me
          <svg class="svg-btn clicked" width="20" height="20">
            <use href="../img/icons.svg#icon-arrow-down"></use>
          </svg>
        </h3>
        <div class="ac-panel">
          <p class="about-list-text">
            I am Lloyd Jefferson, a talented programmer with extensive expertise
            in software development. I have an understanding of different
            programming languages ​and technologies, always ready to improve my
            skills. I always follow the latest trends and look for
            unconventional, creative solutions to problems. I have a high level
            of analytical skills and am able to effectively solve even the most
            difficult tasks encountered on the way.
          </p>
          <p class="about-list-text">
            Able to work both independently and in a team. I can effectively
            cooperate with colleagues, exchanging ideas and finding optimal
            solutions. Professional maturity allows you to calmly cope with
            challenges and stressful situations, while maintaining a high
            quality of work. I am always looking for opportunities for
            self-improvement. I actively study new technologies and practices to
            stay abreast of the latest innovations. I have a strong
            understanding of various programming languages, frameworks and
            architectural concepts that allow me to create efficient and
            scalable software.
          </p>
        </div>
      </li>
      <li class="about-accordion-item ac">
        <h3 class="about-accordion-title ac-header ac-trigger">
          Role
          <svg class="svg-btn" width="20" height="20">
            <use href="../img/icons.svg#icon-arrow-down"></use>
          </svg>
        </h3>
        <div class="ac-panel">
          <p class="about-list-text">Frontend development</p>
          <p class="about-list-text">HeadlessCMS</p>
          <p class="about-list-text">Wordpress Blender(enjoy)</p>
        </div>
      </li>
      <li class="about-accordion-item ac">
        <h3 class="about-accordion-title ac-header ac-trigger">
          Education
          <svg class="svg-btn" width="20" height="20">
            <use href="../img/icons.svg#icon-arrow-down"></use>
          </svg>
        </h3>
        <div class="ac-panel">
          <p class="about-list-text">
            2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York
          </p>
          <p class="about-list-text">
            2019 - 2020 / Advanced Web Development Certificate, GoIT IT School
          </p>
          <p class="about-list-text">
            New York 2020 - 2022 / Advanced Blender Animation Techniques, Udemy
          </p>
        </div>
      </li>
    </ul>
  </div>
  <div class="elipse-cotainer">
    <div class="swiper about-scroll">
      <h2 class="visually-hidden">bn</h2>
      <ul class="about-skills-list swiper-wrapper">
        <li class="about-skills-item swiper-slide">
          <div class="about-skills-text">HTML/CSS</div>
        </li>
        <li class="about-skills-item swiper-slide">
          <div class="about-skills-text">JavaScript</div>
        </li>
        <li class="about-skills-item swiper-slide">
          <p class="about-skills-text">React</p>
        </li>
        <li class="about-skills-item swiper-slide">
          <div class="about-skills-text">Node. js</div>
        </li>
        <li class="about-skills-item swiper-slide">
          <div class="about-skills-text">React Native</div>
        </li>
        <li class="about-skills-item swiper-slide">
          <div class="about-skills-text">Soft skills</div>
        </li>
      </ul>
    </div>

    <div class="about-btn-left">
      <svg class="list-item-icon" width="28" height="28">
        <use href="../img/icons.svg#icon-arrow-to-right"></use>
      </svg>
    </div>
  </div>
</section>
