<section class="covers">
  <div class="covers-container container">
    <h2 class="covers-title visually-hidden">Covers</h2>
    <div class="covers-content">
      <div class="covers-wrapper">
        <div class="covers-line first">
          <ul class="covers-list">
            <li class="covers-link">
              <img
                class="covers-img"
                srcset="
                  ../img/optima/covers_brand.png   1x,
                  ../img/optima/covers_brand2x.png 2x
                "
                src="../img/optima/covers_brand.png"
                alt="Covers-img-1"
                width="544"
                height="314"
              />
            </li>
            <!-- <li class="covers-link">
              <img
                class="covers-img"
                srcset="
                  ../img/optima/covers_.png   1x,
                  ../img/optima/covers_2x.png 2x
                "
                src=""
                alt="Covers-img-2"
                width="544"
                height="314"
              />
            </li> -->
            <li class="covers-link">
              <img
                class="covers-img"
                srcset="
                  ../img/optima/covers_transform.png   1x,
                  ../img/optima/covers_transform2x.png 2x
                "
                src="../img/optima/covers_transform.png"
                alt="Covers-img-3"
                width="544"
                height="314"
              />
            </li>
            <li class="covers-link">
              <img
                class="covers-img"
                srcset="
                  ../img/optima/covers_mimino.png   1x,
                  ../img/optima/covers_mimino2x.png 2x
                "
                src="../img/optima/covers_mimino.png"
                alt="Covers-img-4"
                width="544"
                height="314"
              />
            </li>
            <li class="covers-link">
              <img
                class="covers-img"
                srcset="
                  ../img/optima/covers_finances.png   1x,
                  ../img/optima/covers_finances2x.png 2x
                "
                src="../img/optima/covers_finances.png"
                alt="Covers-img-5"
                width="544"
                height="314"
              />
            </li>
            <!-- <li class="covers-link">
              <img
                class="covers-img"
                srcset="
                  ../img/optima/covers_brand.png   1x,
                  ../img/optima/covers_brand2x.png 2x
                "
                src=""
                alt="Covers-img-6"
                width="544"
                height="314"
              />
            </li> -->
            <li class="covers-link">
              <img
                class="covers-img"
                srcset="
                  ../img/optima/covers_ukrainian.png   1x,
                  ../img/optima/covers_ukrainian2x.png 2x
                "
                src="../img/optima/covers_ukrainian.png"
                alt="Covers-img-7"
                width="544"
                height="314"
              />
            </li>
            <li class="covers-link">
              <img
                class="covers-img"
                srcset="
                  ../img/optima/covers_organic.png   1x,
                  ../img/optima/covers_organic2x.png 2x
                "
                src="..//img/optima/covers_organic.png"
                alt="Covers-img-8"
                width="544"
                height="314"
              />
            </li>
            <li class="covers-link">
              <img
                class="covers-img"
                srcset="
                  ../img/optima/covers_body.png   1x,
                  ../img/optima/covers_body2x.png 2x
                "
                src="../img/optima/covers_body.png"
                alt="Covers-img-9"
                width="544"
                height="314"
              />
            </li>
            <li class="covers-link">
              <img
                class="covers-img"
                srcset="
                  ../img/optima/covers_fresh.png   1x,
                  ../img/optima/covers_fresh2x.png 2x
                "
                src="../img/optima/covers_fresh.png"
                alt="Covers-img-10"
                width="544"
                height="314"
              />
            </li>
            <li class="covers-link">
              <img
                class="covers-img"
                srcset="
                  ../img/optima/covers_discover.png   1x,
                  ../img/optima/covers_discover2x.png 2x
                "
                src="../img/optima/covers_discover.png"
                alt="Covers-img-11"
                width="544"
                height="314"
              />
            </li>
            <li class="covers-link">
              <img
                class="covers-img"
                srcset="
                  ../img/optima/covers_turn.png   1x,
                  ../img/optima/covers_turn2x.png 2x
                "
                src="../img/optima/covers_turn.png"
                alt="Covers-img-12"
                width="544"
                height="314"
              />
            </li>
          </ul>
        </div>
        <div class="covers-line second">
          <ul class="covers-list">
            <li class="covers-link">
              <img
                class="covers-img"
                srcset="
                  ../img/optima/covers_brand.png   1x,
                  ../img/optima/covers_brand2x.png 2x
                "
                src="../img/optima/covers_brand.png"
                alt="Covers-img-1"
                width="544"
                height="314"
              />
            </li>
            <!-- <li class="covers-link">
              <img
                class="covers-img"
                srcset="
                  ../img/optima/covers_.png   1x,
                  ../img/optima/covers_2x.png 2x
                "
                src=""
                alt="Covers-img-2"
                width="544"
                height="314"
              />
            </li> -->
            <li class="covers-link">
              <img
                class="covers-img"
                srcset="
                  ../img/optima/covers_transform.png   1x,
                  ../img/optima/covers_transform2x.png 2x
                "
                src="../img/optima/covers_transform.png"
                alt="Covers-img-3"
                width="544"
                height="314"
              />
            </li>
            <li class="covers-link">
              <img
                class="covers-img"
                srcset="
                  ../img/optima/covers_mimino.png   1x,
                  ../img/optima/covers_mimino2x.png 2x
                "
                src="../img/optima/covers_mimino.png"
                alt="Covers-img-4"
                width="544"
                height="314"
              />
            </li>
            <li class="covers-link">
              <img
                class="covers-img"
                srcset="
                  ../img/optima/covers_finances.png   1x,
                  ../img/optima/covers_finances2x.png 2x
                "
                src="../img/optima/covers_finances.png"
                alt="Covers-img-5"
                width="544"
                height="314"
              />
            </li>
            <!-- <li class="covers-link">
              <img
                class="covers-img"
                srcset="
                  ../img/optima/covers_brand.png   1x,
                  ../img/optima/covers_brand2x.png 2x
                "
                src=""
                alt="Covers-img-6"
                width="544"
                height="314"
              />
            </li> -->
            <li class="covers-link">
              <img
                class="covers-img"
                srcset="
                  ../img/optima/covers_ukrainian.png   1x,
                  ../img/optima/covers_ukrainian2x.png 2x
                "
                src="../img/optima/covers_ukrainian.png"
                alt="Covers-img-7"
                width="544"
                height="314"
              />
            </li>
            <li class="covers-link">
              <img
                class="covers-img"
                srcset="
                  ../img/optima/covers_organic.png   1x,
                  ../img/optima/covers_organic2x.png 2x
                "
                src="..//img/optima/covers_organic.png"
                alt="Covers-img-8"
                width="544"
                height="314"
              />
            </li>
            <li class="covers-link">
              <img
                class="covers-img"
                srcset="
                  ../img/optima/covers_body.png   1x,
                  ../img/optima/covers_body2x.png 2x
                "
                src="../img/optima/covers_body.png"
                alt="Covers-img-9"
                width="544"
                height="314"
              />
            </li>
            <li class="covers-link">
              <img
                class="covers-img"
                srcset="
                  ../img/optima/covers_fresh.png   1x,
                  ../img/optima/covers_fresh2x.png 2x
                "
                src="../img/optima/covers_fresh.png"
                alt="Covers-img-10"
                width="544"
                height="314"
              />
            </li>
            <li class="covers-link">
              <img
                class="covers-img"
                srcset="
                  ../img/optima/covers_discover.png   1x,
                  ../img/optima/covers_discover2x.png 2x
                "
                src="../img/optima/covers_discover.png"
                alt="Covers-img-11"
                width="544"
                height="314"
              />
            </li>
            <li class="covers-link">
              <img
                class="covers-img"
                srcset="
                  ../img/optima/covers_turn.png   1x,
                  ../img/optima/covers_turn2x.png 2x
                "
                src="../img/optima/covers_turn.png"
                alt="Covers-img-12"
                width="544"
                height="314"
              />
            </li>
          </ul>
        </div>
        <div class="covers-line third">
          <ul class="covers-list">
            <li class="covers-link">
              <img
                class="covers-img"
                srcset="
                  ../img/optima/covers_brand.png   1x,
                  ../img/optima/covers_brand2x.png 2x
                "
                src="../img/optima/covers_brand.png"
                alt="Covers-img-1"
                width="544"
                height="314"
              />
            </li>
            <!-- <li class="covers-link">
              <img
                class="covers-img"
                srcset="
                  ../img/optima/covers_.png   1x,
                  ../img/optima/covers_2x.png 2x
                "
                src=""
                alt="Covers-img-2"
                width="544"
                height="314"
              />
            </li> -->
            <li class="covers-link">
              <img
                class="covers-img"
                srcset="
                  ../img/optima/covers_transform.png   1x,
                  ../img/optima/covers_transform2x.png 2x
                "
                src="../img/optima/covers_transform.png"
                alt="Covers-img-3"
                width="544"
                height="314"
              />
            </li>
            <li class="covers-link">
              <img
                class="covers-img"
                srcset="
                  ../img/optima/covers_mimino.png   1x,
                  ../img/optima/covers_mimino2x.png 2x
                "
                src="../img/optima/covers_mimino.png"
                alt="Covers-img-4"
                width="544"
                height="314"
              />
            </li>
            <li class="covers-link">
              <img
                class="covers-img"
                srcset="
                  ../img/optima/covers_finances.png   1x,
                  ../img/optima/covers_finances2x.png 2x
                "
                src="../img/optima/covers_finances.png"
                alt="Covers-img-5"
                width="544"
                height="314"
              />
            </li>
            <!-- <li class="covers-link">
              <img
                class="covers-img"
                srcset="
                  ../img/optima/covers_brand.png   1x,
                  ../img/optima/covers_brand2x.png 2x
                "
                src=""
                alt="Covers-img-6"
                width="544"
                height="314"
              />
            </li> -->
            <li class="covers-link">
              <img
                class="covers-img"
                srcset="
                  ../img/optima/covers_ukrainian.png   1x,
                  ../img/optima/covers_ukrainian2x.png 2x
                "
                src="../img/optima/covers_ukrainian.png"
                alt="Covers-img-7"
                width="544"
                height="314"
              />
            </li>
            <li class="covers-link">
              <img
                class="covers-img"
                srcset="
                  ../img/optima/covers_organic.png   1x,
                  ../img/optima/covers_organic2x.png 2x
                "
                src="..//img/optima/covers_organic.png"
                alt="Covers-img-8"
                width="544"
                height="314"
              />
            </li>
            <li class="covers-link">
              <img
                class="covers-img"
                srcset="
                  ../img/optima/covers_body.png   1x,
                  ../img/optima/covers_body2x.png 2x
                "
                src="../img/optima/covers_body.png"
                alt="Covers-img-9"
                width="544"
                height="314"
              />
            </li>
            <li class="covers-link">
              <img
                class="covers-img"
                srcset="
                  ../img/optima/covers_fresh.png   1x,
                  ../img/optima/covers_fresh2x.png 2x
                "
                src="../img/optima/covers_fresh.png"
                alt="Covers-img-10"
                width="544"
                height="314"
              />
            </li>
            <li class="covers-link">
              <img
                class="covers-img"
                srcset="
                  ../img/optima/covers_discover.png   1x,
                  ../img/optima/covers_discover2x.png 2x
                "
                src="../img/optima/covers_discover.png"
                alt="Covers-img-11"
                width="544"
                height="314"
              />
            </li>
            <li class="covers-link">
              <img
                class="covers-img"
                srcset="
                  ../img/optima/covers_turn.png   1x,
                  ../img/optima/covers_turn2x.png 2x
                "
                src="../img/optima/covers_turn.png"
                alt="Covers-img-12"
                width="544"
                height="314"
              />
            </li>
          </ul>
        </div>

        <!-- <div class="marquee__inner">
          <p class="marquee__line">Project 1</p>
          <p class="marquee__line">Project 2</p>
          <p class="marquee__line">Project 3</p>
          <p class="marquee__line">Project 4</p>
          <p class="marquee__line">Project 5</p>
          <p class="marquee__line">Project 6</p>
          <p class="marquee__line">Project 7</p>
          <p class="marquee__line">Project 8</p>
        </div> -->
        <!-- <div class="marquee__inner">
          <p class="marquee__line">Project 1</p>
          <p class="marquee__line">Project 2</p>
          <p class="marquee__line">Project 3</p>
          <p class="marquee__line">Project 4</p>
          <p class="marquee__line">Project 5</p>
          <p class="marquee__line">Project 6</p>
          <p class="marquee__line">Project 7</p>
          <p class="marquee__line">Project 8</p>
        </div> -->
      </div>
    </div>
  </div>
</section>
