<section class="covers-section section">
  <h2 class="covers-title visually-hidden">Covers</h2>
  <link
    href="https://fonts.googleapis.com/css?family=Pridi:600"
    rel="stylesheet"
  />
  <div class="covers-container container">
    <div class="covers-marquee animate">
      <ul class="covers-line second">
        <li class="covers-item">
          <img
            class="covers-img"
            srcset="
              /img/optima/covers_finances.png   1x,
              /img/optima/covers_finances2x.png 2x
            "
            src="/img/optima/covers_finances.png"
            alt="Covers-img-5"
            width="544"
            height="314"
          />
        </li>
        <li class="covers-item">
          <img
            class="covers-img"
            srcset="
              /img/optima/covers_transform.png   1x,
              /img/optima/covers_transform2x.png 2x
            "
            src="/img/optima/covers_transform.png"
            alt="Covers-img-3"
            width="544"
            height="314"
          />
        </li>
        <li class="covers-item">
          <img
            class="covers-img"
            srcset="
              /img/optima/covers_mimino.png   1x,
              /img/optima/covers_mimino2x.png 2x
            "
            src="/img/optima/covers_mimino.png"
            alt="Covers-img-4"
            width="544"
            height="314"
          />
        </li>
        <li class="covers-item">
          <img
            class="covers-img"
            srcset="
              /img/optima/covers_discover.png   1x,
              /img/optima/covers_discover2x.png 2x
            "
            src="/img/optima/covers_discover.png"
            alt="Covers-img-11"
            width="544"
            height="314"
          />
        </li>
        <li class="covers-item">
          <img
            class="covers-img"
            srcset="
              /img/optima/covers_ukrainian.png   1x,
              /img/optima/covers_ukrainian2x.png 2x
            "
            src="/img/optima/covers_ukrainian.png"
            alt="Covers-img-7"
            width="544"
            height="314"
          />
        </li>
        <li class="covers-item">
          <img
            class="covers-img"
            srcset="
              /img/optima/covers_brand.png   1x,
              /img/optima/covers_brand2x.png 2x
            "
            src="/img/optima/covers_brand.png"
            alt="Covers-img-1"
            width="544"
            height="314"
          />
        </li>
        <li class="covers-item">
          <img
            class="covers-img"
            srcset="
              /img/optima/covers_fresh.png   1x,
              /img/optima/covers_fresh2x.png 2x
            "
            src="/img/optima/covers_fresh.png"
            alt="Covers-img-10"
            width="544"
            height="314"
          />
        </li>
        <li class="covers-item">
          <img
            class="covers-img"
            srcset="
              /img/optima/covers_finances.png   1x,
              /img/optima/covers_finances2x.png 2x
            "
            src="/img/optima/covers_finances.png"
            alt="Covers-img-5"
            width="544"
            height="314"
          />
        </li>
      </ul>
      <ul class="covers-line third">
        <li class="covers-item">
          <img
            class="covers-img"
            srcset="
              /img/optima/covers_organic.png   1x,
              /img/optima/covers_organic2x.png 2x
            "
            src="//img/optima/covers_organic.png"
            alt="Covers-img-8"
            width="544"
            height="314"
          />
        </li>
        <li class="covers-item">
          <img
            class="covers-img"
            srcset="
              /img/optima/covers_body.png   1x,
              /img/optima/covers_body2x.png 2x
            "
            src="/img/optima/covers_body.png"
            alt="Covers-img-9"
            width="544"
            height="314"
          />
        </li>
        <li class="covers-item">
          <img
            class="covers-img"
            srcset="
              /img/optima/covers_fresh.png   1x,
              /img/optima/covers_fresh2x.png 2x
            "
            src="/img/optima/covers_fresh.png"
            alt="Covers-img-10"
            width="544"
            height="314"
          />
        </li>
        <li class="covers-item">
          <img
            class="covers-img"
            srcset="
              /img/optima/covers_finances.png   1x,
              /img/optima/covers_finances2x.png 2x
            "
            src="/img/optima/covers_finances.png"
            alt="Covers-img-5"
            width="544"
            height="314"
          />
        </li>
        <li class="covers-item">
          <img
            class="covers-img"
            srcset="
              /img/optima/covers_transform.png   1x,
              /img/optima/covers_transform2x.png 2x
            "
            src="/img/optima/covers_transform.png"
            alt="Covers-img-3"
            width="544"
            height="314"
          />
        </li>
        <li class="covers-item">
          <img
            class="covers-img"
            srcset="
              /img/optima/covers_mimino.png   1x,
              /img/optima/covers_mimino2x.png 2x
            "
            src="/img/optima/covers_mimino.png"
            alt="Covers-img-4"
            width="544"
            height="314"
          />
        </li>
        <li class="covers-item">
          <img
            class="covers-img"
            srcset="
              /img/optima/covers_organic.png   1x,
              /img/optima/covers_organic2x.png 2x
            "
            src="//img/optima/covers_organic.png"
            alt="Covers-img-8"
            width="544"
            height="314"
          />
        </li>
      </ul>
      <ul class="covers-line fourth">
        <li class="covers-item">
          <img
            class="covers-img"
            srcset="
              /img/optima/covers_discover.png   1x,
              /img/optima/covers_discover2x.png 2x
            "
            src="/img/optima/covers_discover.png"
            alt="Covers-img-11"
            width="544"
            height="314"
          />
        </li>
        <li class="covers-item">
          <img
            class="covers-img"
            srcset="
              /img/optima/covers_ukrainian.png   1x,
              /img/optima/covers_ukrainian2x.png 2x
            "
            src="/img/optima/covers_ukrainian.png"
            alt="Covers-img-7"
            width="544"
            height="314"
          />
        </li>
        <li class="covers-item">
          <img
            class="covers-img"
            srcset="
              /img/optima/covers_brand.png   1x,
              /img/optima/covers_brand2x.png 2x
            "
            src="/img/optima/covers_brand.png"
            alt="Covers-img-1"
            width="544"
            height="314"
          />
        </li>
        <li class="covers-item">
          <img
            class="covers-img"
            srcset="
              /img/optima/covers_organic.png   1x,
              /img/optima/covers_organic2x.png 2x
            "
            src="//img/optima/covers_organic.png"
            alt="Covers-img-8"
            width="544"
            height="314"
          />
        </li>
        <li class="covers-item">
          <img
            class="covers-img"
            srcset="
              /img/optima/covers_body.png   1x,
              /img/optima/covers_body2x.png 2x
            "
            src="/img/optima/covers_body.png"
            alt="Covers-img-9"
            width="544"
            height="314"
          />
        </li>
        <li class="covers-item">
          <img
            class="covers-img"
            srcset="
              /img/optima/covers_fresh.png   1x,
              /img/optima/covers_fresh2x.png 2x
            "
            src="/img/optima/covers_fresh.png"
            alt="Covers-img-10"
            width="544"
            height="314"
          />
        </li>
      </ul>
      <ul class="covers-line fifth">
        <li class="covers-item">
          <img
            class="covers-img"
            srcset="
              /img/optima/covers_organic.png   1x,
              /img/optima/covers_organic2x.png 2x
            "
            src="//img/optima/covers_organic.png"
            alt="Covers-img-8"
            width="544"
            height="314"
          />
        </li>
        <li class="covers-item">
          <img
            class="covers-img"
            srcset="
              /img/optima/covers_body.png   1x,
              /img/optima/covers_body2x.png 2x
            "
            src="/img/optima/covers_body.png"
            alt="Covers-img-9"
            width="544"
            height="314"
          />
        </li>
        <li class="covers-item">
          <img
            class="covers-img"
            srcset="
              /img/optima/covers_fresh.png   1x,
              /img/optima/covers_fresh2x.png 2x
            "
            src="/img/optima/covers_fresh.png"
            alt="Covers-img-10"
            width="544"
            height="314"
          />
        </li>
        <li class="covers-item">
          <img
            class="covers-img"
            srcset="
              /img/optima/covers_finances.png   1x,
              /img/optima/covers_finances2x.png 2x
            "
            src="/img/optima/covers_finances.png"
            alt="Covers-img-5"
            width="544"
            height="314"
          />
        </li>
        <li class="covers-item">
          <img
            class="covers-img"
            srcset="
              /img/optima/covers_transform.png   1x,
              /img/optima/covers_transform2x.png 2x
            "
            src="/img/optima/covers_transform.png"
            alt="Covers-img-3"
            width="544"
            height="314"
          />
        </li>
        <li class="covers-item">
          <img
            class="covers-img"
            srcset="
              /img/optima/covers_mimino.png   1x,
              /img/optima/covers_mimino2x.png 2x
            "
            src="/img/optima/covers_mimino.png"
            alt="Covers-img-4"
            width="544"
            height="314"
          />
        </li>
      </ul>
      <ul class="covers-line first">
        <li class="covers-item">
          <img
            class="covers-img"
            srcset="
              /img/optima/covers_organic.png   1x,
              /img/optima/covers_organic2x.png 2x
            "
            src="//img/optima/covers_organic.png"
            alt="Covers-img-8"
            width="544"
            height="314"
          />
        </li>
        <li class="covers-item">
          <img
            class="covers-img"
            srcset="
              /img/optima/covers_body.png   1x,
              /img/optima/covers_body2x.png 2x
            "
            src="/img/optima/covers_body.png"
            alt="Covers-img-9"
            width="544"
            height="314"
          />
        </li>
        <li class="covers-item">
          <img
            class="covers-img"
            srcset="
              /img/optima/covers_fresh.png   1x,
              /img/optima/covers_fresh2x.png 2x
            "
            src="/img/optima/covers_fresh.png"
            alt="Covers-img-10"
            width="544"
            height="314"
          />
        </li>
        <li class="covers-item">
          <img
            class="covers-img"
            srcset="
              /img/optima/covers_finances.png   1x,
              /img/optima/covers_finances2x.png 2x
            "
            src="/img/optima/covers_finances.png"
            alt="Covers-img-5"
            width="544"
            height="314"
          />
        </li>
        <li class="covers-item">
          <img
            class="covers-img"
            srcset="
              /img/optima/covers_transform.png   1x,
              /img/optima/covers_transform2x.png 2x
            "
            src="/img/optima/covers_transform.png"
            alt="Covers-img-3"
            width="544"
            height="314"
          />
        </li>
        <li class="covers-item">
          <img
            class="covers-img"
            srcset="
              /img/optima/covers_mimino.png   1x,
              /img/optima/covers_mimino2x.png 2x
            "
            src="/img/optima/covers_mimino.png"
            alt="Covers-img-4"
            width="544"
            height="314"
          />
        </li>
        <li class="covers-item">
          <img
            class="covers-img"
            srcset="
              /img/optima/covers_organic.png   1x,
              /img/optima/covers_organic2x.png 2x
            "
            src="//img/optima/covers_organic.png"
            alt="Covers-img-8"
            width="544"
            height="314"
          />
        </li>
        <li class="covers-item">
          <img
            class="covers-img"
            srcset="
              /img/optima/covers_body.png   1x,
              /img/optima/covers_body2x.png 2x
            "
            src="/img/optima/covers_body.png"
            alt="Covers-img-9"
            width="544"
            height="314"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
