<section class="covers">
  <div class="covers-container container">
    <h2 class="covers-title visually-hidden">Covers</h2>
    <div class="covers-content">
      <div class="covers-marquee">
        <div class="covers-marquee-inner">

          <img class="covers-marquee__line">Project 1</img>
          <p class="marquee__line">Project 2</p>
          <p class="marquee__line">Project 3</p>
          <p class="marquee__line">Project 4</p>
          <p class="marquee__line">Project 5</p>
          <p class="marquee__line">Project 6</p>
          <p class="marquee__line">Project 7</p>
          <p class="marquee__line">Project 8</p>
        </div>
        <div class="marquee__inner">
          <p class="marquee__line">Project 1</p>
          <p class="marquee__line">Project 2</p>
          <p class="marquee__line">Project 3</p>
          <p class="marquee__line">Project 4</p>
          <p class="marquee__line">Project 5</p>
          <p class="marquee__line">Project 6</p>
          <p class="marquee__line">Project 7</p>
          <p class="marquee__line">Project 8</p>
        </div>
        <div class="marquee__inner">
          <p class="marquee__line">Project 1</p>
          <p class="marquee__line">Project 2</p>
          <p class="marquee__line">Project 3</p>
          <p class="marquee__line">Project 4</p>
          <p class="marquee__line">Project 5</p>
          <p class="marquee__line">Project 6</p>
          <p class="marquee__line">Project 7</p>
          <p class="marquee__line">Project 8</p>
        </div>
      </div>
    </div>
  </div>
</section>
