<header id="header" class="header-container">
  <div class="container page-header-container">
    <div class="logo">
      <img
        src="../img/optima/header_avatar.png"
        srcset="
          ../img/optima/header_avatar.png   1x,
          ../img/optima/header_avatar2x.png 2x
        "
        width="80"
        height="80"
        alt="man in glasses"
      />
      <p class="logo-text">jefferson*</p>
    </div>

    <div class="nav-container">
        <button id="menu-btn" class="menu-btn" type="button">Меню</button>
    <nav id="nav" class="header-menu"></nav>
        <ul class="menu-list">
        <li><a href="#about">About</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#portfolio">Portfolio</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
    </div>
    <div class="order-container">
        <button class="order-btn" type="button">Order the project</button>
    </div>
    
    <button class="burger">burger</button>
  </div>    
</header>
