<header id="header" class="header-container">
  <div class="container page-header-container">
    <div class="logo">
      <img
        src="../img/optima/header_avatar.png"
        srcset="
          ../img/optima/header_avatar.png   1x,
          ../img/optima/header_avatar2x.png 2x
        "
        width="80"
        height="80"
        alt="man in glasses"
      />
      <p class="logo-text">jefferson*</p>
    </div>

    <div class="nav-container">
      <button id="menu-btn" class="menu-btn toggle-menu" type="button">
        Menu
      </button>
      <nav id="nav" class="header-menu">
        <ul class="menu-list">
          <li class="menu-list-item"><a href="#about">About me</a></li>
          <li class="menu-list-item"><a href="#benefits">Benefits</a></li>
          <li class="menu-list-item"><a href="#projects">Projects</a></li>
          <li class="menu-list-item"><a href="#FAQ">FAQ</a></li>
        </ul>
      </nav>
    </div>
    <div class="order-container">
      <a class="order-btn" href="#work">Order the project</a>
      <!-- <button class="order-btn" type="button">Order the project</button> -->
    </div>
    <div class="open-btn">
      <button class="mobile-open-btn" type="button" name="open-menu">
        <svg class="mobile-open-btn-icon" width="28" height="28">
          <use href="../img/icons.svg#icon-menu-05"></use>
        </svg>
      </button>
    </div>
  </div>
</header>

<!-- mobile menu -->

<div class="mobile-menu is-open">
  <div class="mobile-menu-container">
    <button class="mobile-close-btn" type="button">
      <svg class="mobile-close-btn-icon" width="28" height="28">
        <use href="../img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="mobile-list-container">
      <ul class="mobile-menu-list">
        <li class="mobile-menu-list-item">
          <a class="mobile-menu-list-link" href="#about">About me</a>
        </li>
        <li class="mobile-menu-list-item">
          <a class="mobile-menu-list-link" href="#benefits">Benefits</a>
        </li>
        <li class="mobile-menu-list-item">
          <a class="mobile-menu-list-link" href="#projects">Projects</a>
        </li>
        <li class="mobile-menu-list-item">
          <a class="mobile-menu-list-link" href="#FAQ">FAQ</a>
        </li>
      </ul>
    </div>
    <div class="mobile-btn-container">
      <a class="mobile-order-btn" href="#work">Order the project</a>
    </div>
  </div>
</div>
<script type="module" src="../js/header.js"></script>
