<section class="hero">
  <div class="container hero-container">
    <h1 class="hero-title">
      HELLO.<br />I'M FULLSTACK DEVELOPER LLOYD JEFFERSON.
    </h1>

    <ul class="hero-list-link">
      <li class="link-item">
        <a
          class="hero-link"
          target="_blank"
          href="https://www.instagram.com/goitclub/"
          >IG
        </a>
      </li>
      <li class="link-item">
        <a
          class="hero-link"
          target="_blank"
          href="https://www.facebook.com/goITclub/"
          >FB
        </a>
      </li>
      <li class="link-item">
        <a
          class="hero-link"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          >YT
        </a>
      </li>
      <li class="link-item">
        <a
          class="hero-link"
          target="_blank"
          href="https://github.com/kkvaldys/ProfIT-project-js"
          >GH
        </a>
      </li>
      <li class="link-item">
        <a class="link-size hero-link" href="mailto:lloydjefferson@gmail.com"
          >lloydjefferson@gmail.com
        </a>
      </li>
    </ul>
  </div>
</section>
