<section class="projects" id="projects">
  <div class="projects-container">
    <h2 class="title">Projects</h2>

    <div class="projects-container-swiper swiper">
      <ul class="projects-swiper-wrapper swiper-wrapper">
        <li class="projects-swiper-slide swiper-slide">
          <div class="project-card">
            <ul class="projects-list">
              <li class="projects-list-item">#react</li>
              <li class="projects-list-item">#js</li>
              <li class="projects-list-item">#node js</li>
              <li class="projects-list-item">#git</li>
            </ul>
            <h3 class="card-title">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <a
              class="card-btn"
              href="https://kkvaldys.github.io/ProfIT-project-js/"
              target="_blank"
              >See project</a
            >
          </div>

          <div class="card-img-container">
            <picture>
              <!-- Desktop screen -->
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/optima/projects_screen_desk.png    1x,
                  ./img/optima/projects_screen_desk@2x.png 2x
                "
                type="image/png"
              />
              <!-- Tablet screen -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/optima/projects_screen_tablet.png    1x,
                  ./img/optima/projects_screen_tablet@2x.png 2x
                "
                type="image/png"
              />
              <!-- Mobile screen -->
              <source
                media="(min-width: 375px)"
                srcset="
                  ./img/optima/projects_screen_mobile.png    1x,
                  ./img/optima/projects_screen_mobile@2x.png 2x
                "
                type="image/png"
              />
              <img
                class="card-img"
                src="./img/optima/projects_screen_mobile.png"
                alt="Screen website 1"
              />
            </picture>
          </div>
        </li>

        <li class="projects-swiper-slide swiper-slide">
          <div class="project-card">
            <ul class="projects-list">
              <li class="projects-list-item">#react</li>
              <li class="projects-list-item">#js</li>
              <li class="projects-list-item">#node js</li>
              <li class="projects-list-item">#git</li>
            </ul>
            <h3 class="card-title">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <a
              class="card-btn"
              href="https://kkvaldys.github.io/ProfIT-project-js/"
              target="_blank"
              >See project</a
            >
          </div>
          <div class="card-img-container">
            <picture>
              <!-- Desktop screen -->
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/optima/projects_dog_desk.png    1x,
                  ./img/optima/projects_dog_desk@2x.png 2x
                "
                type="image/png"
              />
              <!-- Tablet screen -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/optima/projects_dog_tablet.png    1x,
                  ./img/optima/projects_dog_tablet@2x.png 2x
                "
                type="image/png"
              />
              <!-- Mobile screen -->
              <source
                media="(min-width: 375px)"
                srcset="
                  ./img/optima/projects_dog_mobile.png    1x,
                  ./img/optima/projects_dog_mobile@2x.png 2x
                "
                type="image/png"
              />

              <img
                class="card-img"
                src="./img/optima/projects_dog_mobile.png"
                alt="Screen website 2"
              />
            </picture>
          </div>
        </li>

        <li class="projects-swiper-slide swiper-slide">
          <div class="project-card">
            <ul class="projects-list">
              <li class="projects-list-item">#react</li>
              <li class="projects-list-item">#js</li>
              <li class="projects-list-item">#node js</li>
              <li class="projects-list-item">#git</li>
            </ul>
            <h3 class="card-title">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <a
              class="card-btn"
              href="https://kkvaldys.github.io/ProfIT-project-js/"
              target="_blank"
              >See project</a
            >
          </div>
          <div class="card-img-container">
            <picture>
              <!-- Desktop screen -->
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/optima/projects_people_desk.png    1x,
                  ./img/optima/projects_people_desk@2x.png 2x
                "
                type="image/png"
              />
              <!-- Tablet screen -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/optima/projects_people_tablet.png    1x,
                  ./img/optima/projects_people_tablet@2x.png 2x
                "
                type="image/png"
              />
              <!-- Mobile screen -->
              <source
                media="(min-width: 375px)"
                srcset="
                  ./img/optima/projects_people_mobile.png    1x,
                  ./img/optima/projects_people_mobile@2x.png 2x
                "
                type="image/png"
              />

              <img
                class="card-img"
                src="./img/optima/projects_people_mobile.png"
                alt="Screen website 3"
              />
            </picture>
          </div>
        </li>
      </ul>
    </div>

    <div class="swiper-navigation">
      <div class="swiper-but-prev">
        <svg class="content-icon" width="24" height="24">
          <use href="./img/icons.svg#icon-arrow-to-left"></use>
        </svg>
      </div>
      <div class="swiper-but-next">
        <svg class="content-icon" width="24" height="24">
          <use href="./img/icons.svg#icon-arrow-to-right"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
