<section class="section-reviews">
  <!-- Slider main container -->
  <h2 class="title-reviews">Reviews</h2>

  <div class="swiper-container-reviews">
    <div class="swiper swiper-reviews">
      <ul class="swiper-wrapper swiper-wrapper-reviews"></ul>
    </div>
    <div class="button-wrapper-reviews">
      <div class="swiper-button-prev-reviews">
        <svg class="icon-reviews">
          <use href="./img/icons.svg#icon-arrow-to-left"></use>
        </svg>
      </div>
      <div class="swiper-button-next-reviews">
        <svg class="icon-reviews">
          <use href="./img/icons.svg#icon-arrow-to-right"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
