<section class="section-reviews">
  <h2 class="reviews-title">Reviews</h2>

  <!-- Slider main container -->
  <div class="swiper">
    <ul class="swiper-wrapper"></ul>
    <div class="reviews-btn-wrapper">
      <div class="custom-button-prev">
        <svg class="reviews-icon">
          <use href="./img/icons.svg#icon-brush"></use>
        </svg>
      </div>
      <div class="custom-button-next">
        <svg class="reviews-icon">
          <use href="./img/icons.svg#icon-brush"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
