<section class="section-reviews">
  <!-- Slider main container -->
  <div class="swiper-container">
    <h2 class="reviews-title">Reviews</h2>
    <div class="swiper">
      <ul class="swiper-wrapper"></ul>
    </div>
    <div class="reviews-btn-wrapper">
      <div class="swiper-button-prev">
        <svg class="reviews-icon">
          <use href="./img/icons.svg#icon-arrow-to-left"></use>
        </svg>
      </div>
      <div class="swiper-button-next">
        <svg class="reviews-icon">
          <use href="./img/icons.svg#icon-arrow-to-right"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
