/* Mobile - гумова верстка*/
.benefits.section {
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: var(--bg-color);
}
.benefits-container.container {
  width: 344px;
  height: 1271px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.benefits-title-wrapper {
  margin-bottom: 32px;
}
.benefits-title {
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
}
.benefits-card-wrapper {
  /* margin-bottom: 32px; */
}
.benefits-wrapper-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-bottom: 32px;
}
.benefits-card {
  background-color: var(--card-clr);
  border-radius: 20px;
  padding: 24px;
  width: 344px;
  height: 270px;
}
.benefits-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 48px;
  height: 48px;
  background-color: var(--btn-color);
  margin-bottom: 64px;
}

.benefits-subtitle {
  font-weight: 600;
  font-size: 20px;
  color: var(--text-color);
  margin-bottom: 8px;
}
.benefits-text {
  color: rgba(250, 250, 250, 0.6);
}
.benefits-button {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  width: 187px;
  height: 55px;
  color: var(--text-color);
  background-color: var(--bg-color);
}

/* Mobile - адаптивна верстка*/
@media screen and (min-width: 375px) {
  .benefits-container.container {
    width: 344px;
    height: 1271px;
  }
}

/* Tablet */
@media screen and (min-width: 768px) {
  .benefits-container.container {
    width: 704px;
    height: 731px;
  }
  .benefits-card-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    justify-content: left;
    gap: 16px;
  }

  .benefits-card {
    flex-basis: calc((100% - 16px) / 2);
    margin-bottom: 0;
  }
}

/* Desktop */
@media screen and (min-width: 1440px) {
  .benefits-container.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 1440px;
    height: 731px;
  }
  .benefits-title-wrapper {
    width: 680px;
    height: 675px;
  }

  .benefits-wrapper-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-bottom: 32px;
  }
  .benefits-card {
    background-color: var(--card-clr);
    border-radius: 20px;
    padding: 24px;
    width: 344px;
    height: 270px;
  }
}
