/* Base styles */
body {
  font-family: 'Inter Tight', sans-serif;
  color: #fafafa;
  background-color: #1c1d20;
  margin-left: 0;
}

a {
  text-decoration: none;
  margin: 0 0 0 0;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button,
input {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  cursor: pointer;
}

/* Mobile */

@media screen and (min-width: 320px) and (max-width: 375px) {
  .benefits-container {
    width: 344px;
    height: 1271px;
    margin: 0 auto;
    background-color: #1c1d20;
  }

  .benefits-title {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: rgba(250, 250, 250, 0.4);
    margin-bottom: 32px;
  }

  /* .benefits-wrap {
    display: flex;
     column;
    
  } */

  .benefits-card {
    background-color: #242527;
    border-radius: 20px;
    padding: 24px;
    max-width: 344px;
    max-height: 270px;
    margin-bottom: 16px;
  }
  .benefits-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 48px;
    height: 48px;
    background-color: #ed3b44;
    margin-bottom: 64px;
  }
  .benefits-icon-svg {
  }

  .benefits-subtitle {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: #fafafa;
    margin-bottom: 8px;
  }
  .benefits-text {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: rgba(250, 250, 250, 0.6);
  }

  .benefits-button {
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 60px;
    margin-top: 16px;
    width: 187px;
    height: 55px;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #fafafa;
    background-color: #1c1d20;
  }
}
