/* Стилі для мобільних пристроїв (верстка гумова від 320px до 375px) */

.covers.section {
  padding-top: 32px;
  padding-bottom: 32px;
}
.covers-container.container {
  max-width: 320px;
  height: 508px;
  margin: 0;
  background-color: var(--covers-bg);
  background-image: url(/src/img/optima/covers_back.png);
  background-repeat: no-repeat;
  background-position: center;
}
.content {
  position: relative;
}
.marquee {
  position: absolute;
  right: -800px;
  left: 0;
  overflow: hidden;
  font-family: 'Pridi', sans-serif;
  font-weight: 600;
  font-size: 34px;
  text-transform: uppercase;
}

.marquee__inner {
  height: 100vh;
  display: flex;
  transform: rotate(16deg);
}

.marquee__line {
  background-color: #ffdc00;
  flex-shrink: 0;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 8);
  white-space: nowrap;
  animation-name: marqueeLine;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes marqueeLine {
  from {
    transform: translateX(-20%);
  }

  to {
    transform: translateX(-180%);
  }
}

/* Стилі для мобільних пристроїв (адаптивна верстка з 375px) */
@media screen and (min-width: 375px) {
  .covers-container.container {
    width: 375px;
    height: 508px;
  }
}

/* Стилі для планшетів (768px і більше) */
@media screen and (min-width: 768px) {
  .covers-container.container {
    width: 768px;
    height: 960px;
  }
}

/* Стилі для настільних пристроїв (1440px і більше) */
@media screen and (min-width: 1440px) {
  .covers-container.container {
    width: 1440px;
    height: 960px;
  }
}
