/* Стилі для мобільних пристроїв (верстка гумова від 320px до 375px) */

.covers.section {
  padding: 32px 0;
}
.covers-container.container {
  min-width: 320px;
  height: 508px;
  margin: 0;
  background-color: var(--covers-bg);
  background-image: url(/src/img/optima/covers_back.png);
  background-repeat: no-repeat;
  background-position: center;
}

.covers-content {
  position: relative;
}
.covers-wrapper {
  position: absolute;
  right: -800px;
  left: 0;
  overflow: hidden;
}

.covers-line {
  width: 544px;
  height: 314px;
  display: flex;
  gap: 10px;
  transform: rotate(16deg);
}

.covers-list {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 8);
  white-space: nowrap;
  animation-name: coversLine;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes coversLine {
  from {
    transform: translateX(-20%);
  }

  to {
    transform: translateX(-180%);
  }
}

/* Стилі для мобільних пристроїв (адаптивна верстка з 375px) */
@media screen and (min-width: 375px) {
  .covers-container.container {
    width: 375px;
    height: 508px;
  }
}

/* Стилі для планшетів (768px і більше) */
@media screen and (min-width: 768px) {
  .covers.section {
    padding: 48px 0;
  }
  .covers-container.container {
    width: 768px;
    height: 960px;
  }
}

/* Стилі для настільних пристроїв (1440px і більше) */
@media screen and (min-width: 1440px) {
  .covers.section {
    padding: 82px 0;
  }
  .covers-container.container {
    width: 1440px;
    height: 960px;
    backdrop-filter: blur(30px);
    background: rgba(217, 217, 217, 0.04);
  }
}
