.page-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: transparent;
  /* min-width: 320px;
  max-width: 375px; */
}
.menu-list {
  color: var(--text-color);
  /* display: none; */
}

.order-btn {
  display: none;
}

/* .order-btn {
  display: none;
} */

/* .burger {
  display: none;
} */

.logo {
  display: flex;
  gap: 8px;
}

.logo-text {
  color: var(--text-color);
}

.header-menu {
  display: block;
  color: var(--text-color);
}

.menu-btn {
  display: none;
}

@media only screen and (min-width: 768px) {
  .order-btn {
    display: flex;
    min-width: 174px;
    max-height: 56px;
    justify-content: center;
    align-items: center;
    background-color: var(--btn-color);
    color: var(--text-color);
    box-shadow: none;
    border: none;
    border-radius: 60px;
  }

  .burger {
    display: none;
  }

  .menu-btn {
    display: block;
    background-color: var(--bg-color);
    color: var(--text-color);
    box-shadow: none;
    border: none;
    text-decoration: underline;
  }

  .page-header-container {
    position: relative;
  }
}
