.header-container {
  position: absolute;
  top: 32px;
  z-index: 9999999;
  width: 100vw;
}

.page-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: transparent;
  height: 80px;
  padding-left: 16px;
  padding-right: 16px;
  min-width: 320px;
  max-width: 375px;
}

.hero {
  position: relative;
}

.menu-btn {
  display: none;
}

.menu-list {
  color: var(--text-color);
  display: none;
}

.menu-list-item {
  font-family: Inter Tight;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: -0.001em;
  text-align: center;
  margin-bottom: 5px;
}

.order-btn {
  display: none;
}

.logo {
  display: flex;
  gap: 8px;
}

.logo-text {
  color: var(--text-color);
}

/* .header-menu {
  display: block;
  color: var(--text-color);
} */

@media screen and (max-width: 767px) {
  .mobile-open-btn {
    background-color: transparent;
    padding: 0;
    line-height: 0;
    box-shadow: none;
    border: none;
  }

  .mobile-open-btn-icon {
    stroke: var(--text-color);
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 375px;
    height: 100vh;
    z-index: 99999999;
    background-color: var(--text-color);
    background-image: url(../img/optima/modal_back.png);
    background-repeat: no-repeat;
    background-position-y: 100%;
    /* background-size: 274px 251px; */
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    justify-content: center;
  }

  @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ratio: 2) {
    .mobile-menu {
      background-image: url(../img/optima/modal_back2x.png);
    }
  }

  .mobile-menu.is-open {
    transform: translateX(0%);
  }

  .mobile-menu-container {
    position: relative;
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 100px;
  }

  .mobile-close-btn {
    position: absolute;
    top: 32px;
    right: 16px;
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
    width: 28px;
    height: 28px;
  }

  .mobile-close-btn-icon {
    stroke: var(--text-color);
  }

  .mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 302px;
    margin-bottom: 30px;
    /* align-items: flex-end; */
  }

  .mobile-menu-list-link {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    text-align: center;
    /* text-transform: uppercase; */
  }

  .mobile-order-btn {
    display: flex;
    max-width: 164px;
    min-height: 45px;
    justify-content: center;
    align-items: center;
    background-color: var(--btn-color);
    color: var(--text-color);
    box-shadow: none;
    border: none;
    border-radius: 60px;
  }

  .mobile-order-btn:hover,
  .mobile-order-btn:focus {
    background-color: var(--btn-hover);
  }
}

@media only screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }

  .page-header-container {
    padding-left: 32px;
    padding-right: 32px;
    max-width: 768px;
  }

  .order-btn {
    display: flex;
    min-width: 174px;
    min-height: 56px;
    justify-content: center;
    align-items: center;
    background-color: var(--btn-color);
    color: var(--text-color);
    box-shadow: none;
    border: none;
    border-radius: 60px;
  }

  .order-btn:hover,
  .order-btn:focus {
    background-color: var(--btn-hover);
  }

  .open-btn {
    display: none;
  }

  .menu-btn {
    display: block;
    background-color: transparent;
    color: var(--text-color);
    box-shadow: none;
    border: none;
    text-decoration: underline;
    font-family: Inter Tight;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: -0.001em;
    text-align: center;
    width: 60px;
    height: 39px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 8px;
  }

  .page-header-container {
    position: relative;
  }
}

@media only screen and (min-width: 1440px) {
  .page-header-container {
    max-width: 1440px;
  }
}
