.title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 32px;
}

.projects-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 343px;
}

.projects-container-swiper {
  position: relative;
  width: inherit;
  height: 812px;
  border-radius: 24px;

  overflow: hidden;
  
  background-color: var(--card-clr);
  margin-bottom: 32px;
}

.swiper-navigation {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 12px;
  align-items: center;
}

.swiper-but-prev,
.swiper-but-next {
  border: 1px solid rgba(250, 250, 250, 0.5);
  border-radius: 50%;
  padding: 14px;
  width: 52px;
  height: 52px;
  cursor: pointer;
}

.swiper-but-prev svg,
.swiper-but-next svg {
  width: 24px;
  height: 24px;
  stroke: var(--text-color);
  fill: none;
}

.swiper-but-prev {
  margin-right: 6px;
}

.swiper-but-next {
  margin-left: 6px;
}

.project-card {
  border-radius: 24px 24px 0 0;
  background-color: var(--text-color);
  width: inherit;
}

.projects-list {
  display: flex;
  gap: 6px;
  align-items: center;
  
  flex-wrap: wrap;

  padding-top: 32px;
  margin-left: 32px;
  margin-bottom: 96px;
}

.projects-list-item {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: var(--bg-color);
  text-align: center;

  border: 1px solid rgba(28, 29, 32, 0.2);
  border-radius: 60px;
  padding: 13px 18px;
  height: 45px;
  display: flex;
  align-items: center;
}

.card-title {
  width: 279px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  color: var(--bg-color);

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
}

.card-btn {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: var(--text-color);
  border-radius: 60px;
  padding: 13px 32px;
  background: var(--btn-color);
  margin-left: 32px;
  margin-bottom: 32px;
  transition: background-color ease-in-out 200ms, transform 200ms,
    box-shadow 200ms;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.card-btn:hover,
.card-btn:focus {
  background: var(--btn-hover);
  transform: scale(1.2);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
}

.card-btn:active {
  transform: translateY(2px);
  box-shadow: none;
}
.card-img-container {
  padding: 100px 16px;
}


.projects-nav-btn {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.projects-swiper-slide {
  width: 100%;
  
}
.projects-swiper-slide {
  margin-right: 0 !important;
}


/* ==============*****TABLET*****========== */
@media screen and (min-width: 768px) {
  .projects-container {
    max-width: 768px;
  }

  .projects-container-swiper {
    height: 1191px;
    margin-bottom: 64px;
  }

  .projects-container {
    max-width: 704px;
  }

  .projects-swiper-slide {
    min-width: 704px;
  }

  
  .project-card {
    width: 100%;
  }

  .projects-list {
    padding-top: 64px;
    margin-left: 64px;
    margin-bottom: 164px;
  }

  .projects-list-item {
    padding: 18px;
    height: 55px;
  }

  .card-title {
    width: 494px;
    font-weight: 500;
    font-size: 44px;
    line-height: 1;
    letter-spacing: -0.03em;
    margin-left: 64px;
    margin-bottom: 32px;
  }

  .card-btn {
    padding: 18px 50px;
    margin-left: 64px;
    margin-bottom: 64px;
  }

  .card-img-container {
    padding: 120px 45px;
  }

  /* .card-img {
    width: 768px;
    padding: 120px 45px;
  } */

  .projects-nav-btn {
    gap: 20px;
  }

  .swiper-but-prev,
  .swiper-but-next {
    padding: 18px;
    width: 68px;
    height: 68px;
  }

  .swiper-but-prev svg,
  .swiper-but-next svg {
    width: 32px;
    height: 32px;
  }
}


/* ==============*****desktop 1440px*****========== */
@media screen and (min-width: 1440px) {
  .projects-container {
    width: 1440px;
    max-width: 100%;
  }

  .projects-container-swiper {
    width: 1376px;
    height: 625px;
  }

  /* .project-card {
    width: 1376px;
  } */

  .projects-container .swiper {
    margin-right: 0;
    margin-left: 0;
  } 

    .projects
    .projects-container
    .projects-container-swiper
    .projects-swiper-slide {
    display: flex;
    flex-direction: row;
    min-width: 1376px;

  }

  .project-card {
    border-radius: 24px 0 0 24px;
    width: 688px;
  }

  .projects-list {
    padding-top: 64px;
    margin-left: 64px;
    margin-bottom: 223px;
  }

  /* .card-img {
    padding: 120px 37px;
    margin-bottom: 0;
  }
    .card-img img{
      width: 614px;
    } */

  .card-img-container {
    padding: 120px 37px; 
  }

}