.section-reviews {
  padding-top: 32px;
  padding-bottom: 32px;
}

.swiper-container {
  margin: 0 auto;
}

.reviews-title {
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 32px;
}

.swiper-slide {
  flex-shrink: 0;
  overflow: hidden;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 20px;
  padding: 32px 24px;
  max-width: 343px;
  min-height: 302px;
  margin-bottom: 32px;
}

.swiper-slide p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.reviews-image {
  margin-bottom: 32px;
}

.reviews-name {
  font-family: inherit;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
  margin-bottom: 8px;
}

.reviews-text {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}

.reviews-btn-wrapper {
  margin: 0 auto;
  position: relative;
  height: 52px;
  width: 116px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.swiper-button-next,
.swiper-button-prev {
  /* display: flex;
  align-items: center; */
  position: static !important;
  border: 1px solid rgba(250, 250, 250, 0.5);
  border-radius: 60%;
  padding: 14px;
  width: 52px !important;
  height: 52px !important;
  margin: 0 !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  content: '' !important;
}

.reviews-icon {
  stroke: #fafafa;
  fill: none;
  width: 24px;
  height: 24px;
}

.reviews-image {
  width: 48px;
  height: 48px;
}

@media screen and (max-width: 1439px) {
  .swiper-container {
    width: 680px;
  }
}

@media screen and (max-width: 767px) {
  .swiper-container {
    width: 340px;
  }
}

@media screen and (min-width: 1440px) {
  .swiper-container {
    max-width: 1360px;
  }
}

@media screen and (min-width: 768px) {
  .reviews-btn-wrapper {
    height: 68px;
    width: 156px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 68px !important;
    height: 68px !important;
  }
}
