/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

@media screen and (min-width: 320px) and (max-width: 375px) {
  body {
    zoom: 0.85;
  }
}

@media screen and (min-width: 320px) and (max-width: 767.98px) {
  .container {
    min-width: 320px;
    max-width: 375px;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 16px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
